web/resources/xsd_example.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">

<element name="shiporder">
  <complexType>
    <sequence>
      <element name="id" type="string"/>
      <element name="type" type="string"/>
      <element name="shipto">
        <complexType>
          <sequence>
            <element name="address" type="string"/>
            <element name="coord" type="string"/>
          </sequence>
        </complexType>
      </element>
      <attribute name="ssailing" type="string" use="required"/>
    </sequence>
  </complexType>
</element>

</schema>
